nav a, a:visited, a:checked{
    color: #FFF;
    text-decoration: none;
}

footer{
    width: 100%;
    color: rgba(0, 0, 0, 0.644);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 5%;
}

footer a, a:visited, a:checked{
    color: rgba(0, 0, 0, 0.644);
}

.dane{
    border-right: solid 2px rgb(212, 212, 212);
    padding-left: 5%;
}

.adres{
    padding-left: 5%;
}

.regulamin{
    border-right: solid 2px rgb(212, 212, 212);
    padding-left: 5%;
}

.mapa{
    margin-top:2%;
}


 <footer>
        <div class="dane">
            <h3>Dane kontaktowe</h3>
            <ul>
                <li>Telefon: +48 123123123</li>
                <li>E-mail: warzone@gmail.com</li>
                <li><a href=#>Facebook</a></li>
                <li><a href=#>Instagram</a></li>
            </ul>
        </div>
        <div class="regulamin">
            <h3>Regulamin</h3>
            <ul>
                <li>Regulamin</li>
                <li>Polityka cookies</li>
                <li>Polityka prywatności</li>
                <li>Reklamacje i gwarancja</li>
                <li>Karty podarunkowe</li>
            </ul>
        </div>
        <div class="adres">
            <h3>Adres</h3>
            <ul>
                <li>Miasto</li>
                <li>Ulica:</li>
                <li>Kod pocztowy: </li>
            </ul>
        </div>

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.254762074967!2d18.930974915726797!3d50.324498079458095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716d2ef1eac1bd9%3A0x1e9e7cacb5c952b8!2sArmii%20Krajowej%2C%2041-900%20Bytom!5e0!3m2!1spl!2spl!4v1646818739357!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    </footer>
