/* colors */
:root {
  --nav-bg-color: #2e8b57;
  --main-bg-color: #60a07c;
  --text-color: #fff;
}
/* ******************** */

*{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  
}

h2{
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-bg-color);
  color: #FFF;
  height: 100px;
  padding: 1em;
}

nav a, a:visited, a:checked{
  color: #FFF;
  text-decoration: none;
  font-size: 28px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.logo{
  width: 80px;
}

main{
  background-color: var(--main-bg-color);
  width: 80%;
  margin: auto;
  padding-top: 100px;
  display: block;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 20px;
}

main > div{
  border: 4px solid var(--main-bg-color);
  border-radius: 20px;
  height: 300px;
  background-color: #FFF;
}

footer{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 5%;
}

footer a, a:visited, a:checked{
  color: var(--text-color);
}

.dane{
  border-right: solid 2px rgb(212, 212, 212);
  padding-left: 5%;
}

.adres{
  padding-left: 5%;
}

.regulamin{
  border-right: solid 2px rgb(212, 212, 212);
  padding-left: 5%;
}

.mapa{
  margin-top:2%;
}

input[type=text] {
  position: absolute;
  left: 150px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid 0;
  border-radius: 20px;
  height: 40px;
  width: 500px;
}

.cart-container{
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  margin-top: 130px;
 }

.header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading{
  font-size: 30px;
  font-weight: 700;
  color: #2F3841;
}

.remove-all{
  font-size: 20px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
}

.cart-items{
  margin: auto;
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-box{
  width: 15%;
  text-align: center;
}

.product{
  height: 100%;
}

.title{
  padding-top: 10px;
  line-height: 30px;
  font-size: 30px;
  font-weight: 800;
  color: #202020;
}

.subtitle{
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #909090;
}

.counter{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}

.count{
  font-size: 20px;
  font-weight: 900;
  color: #202020;
}

.prices{
  height: 100%;
  text-align: right;
}

.amount{
  padding-top: 20px;
  font-size: 26px;
  font-weight: 800;
  color: #202020;
}

.remove{
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
}

hr{
  width: 66%;
  float: right;
  margin-right: 5%;
}

.checkout{
  float: right;
  margin-right: 5%;
  width: 28%;
}

.total{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subtotal{
  font-size: 22px;
  font-weight: 700;
  color: #202020;
}

.items{
  font-size: 16px;
  font-weight: 500;
  color: #909090;
  line-height: 20px;
}

.total-amount{
  font-size: 36px;
  font-weight: 900;
  color: #202020;
}

.button{
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #202020;
}

