/* colors */
:root {
	--nav-bg-color: #2e8b57;
	--main-bg-color: #fff;
	--text-color: #000;
}
/* ******************** */

* {
	font-family: "Oswald", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	vertical-align: center;
	text-align: center;
	font-size: 220%;
	margin-bottom: 2%;
	font-weight: lighter;
}

html,
body {
	margin: 0;
	height: 100%;
	background-color: var(--main-bg-color);
}

nav {
	display: flex;
	position: fixed;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--nav-bg-color);
	color: #fff;
	height: 100px;
	padding: 1em;
}

.logo {
	width: 80px;
}

.container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 200px;
	display: block;
	margin-bottom: 80px;
	width: 500px;
	height: 360px;
	background: #fff;
	border: solid #727272 2px;
	border-radius: 5px;
	overflow: hidden;
}

input {
	display: block;
	height: 50px;
	width: 90%;
	margin: 0 auto;
	border: none;
}

.email,
.pwd {
	position: relative;
	z-index: 1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 20px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	color: #858585;
	font-weight: lighter;
}

.link {
	text-decoration: none;
	display: inline-block;
	margin: 27px 37%;
	text-transform: uppercase;
	color: #727272;
	font-weight: lighter;
}

button {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	height: 60px;
	margin-top: -10px;
	border: none;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #2e8b57;
}

button:hover {
	background-color: #28794b;
}

button:active {
	background-color: #21643e;
}
